<h2 style="padding-top: 1.5em;">Enter the Meet</h2>
<p></p>
<form name="contact" method="POST" data-netlify="true">
  <label for="name">Name</label>
  <input type="text" name="name" id="name" autocomplete="name" placeholder="Your name" title="Please enter your name" required>
  <label for="twitter">Twitter</label>
  <input type="text" name="twitter" id="twitter" placeholder="Twitter handle" title="Please enter your Twitter handle" required>
  <label for="message">Message</label>
  <textarea name="message" id="message" placeholder="Why are you competing in the swolana meet" rows="7" required></textarea>
  <button type="submit">Submit</button>
</form>
