<head>
  <meta charset="utf-8">
  <link rel="dns-prefetch" href="https://identity.netlify.com">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ renderData.title or title or metadata.title }}</title>
  <meta name="description" content="{{ metaDescription or renderData.metaDescription or metadata.description }}">

  <meta property="og:title" content="Swolana">
  <meta property="og:description" content="First Annual Swolana Open, a Sporting Event in Lisbon Portugal, November 2021">
  <meta property="og:image" content="http://swolana.fit/static/img/portugal.jpg">
  <meta property="og:url" content="http://swolana.fit">

  <meta name="twitter:title" content="Swolana ">
  <meta name="twitter:description" content="First Annual Swolana Open, a Sporting Event in Lisbon Portugal, November 2021">
  <meta name="twitter:image" content="http://swolana.fit/static/img/portugal.jpg">
  <meta name="twitter:card" content="summary_large_image">

  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {# {% set css %}
    {% include "assets/css/inline.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %} #}


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <style>
  .swole {font-family: IBM Plex Sans Condensed;}
  </style>
  
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>

  <script>{{ js | jsmin | safe }}</script>
</head>
