---
layout: layouts/home.njk
title: Home
date: 2016-01-01T00:00:00.000Z
permalink: /
eleventyNavigation:
  key: Home
  order: 0
---

<main class="cf pa3 pa4-m pa5-l mw9 center">
  <div class="fr w-100 w-80-l">
    <p class="f6">
      swolana.fit
    </p>
    <h1 class="f2 f1-l lh-title mt0 mb4 mb5-ns">
      Swolana Open<br class="dn db-ns"> November 2021, Lisbon Portgual
    </h1>
  </div>
  <div class="f5 lh-copy fl w-100 mb4">
    <div class="fl-ns w-100 w-20-l pr3-m pr5-l">
      <p>
        Powerlifting Open Meet
      </p> 
    </div>
    <div class="fl-ns w-50-m w-20-l pr3-m pr5-l">
      <p>
        Curls for Gurls
      </p> 
    </div>
    <div class="fl-ns w-50-m w-20-l pr3-m pr5-l">
      <p>
        Sponsoring<br class="dn db-l"> Contact <a class="white" href="https://twitter.com/amelia_cai_">Amelia</a>
      </p> 
    </div>
    <div class="fl-ns w-50-m w-20-l pr3-m pr5-l">
      <p>
        Volunteers<br class="dn db-l"> Contact <a class="white" href="https://twitter.com/FranTiberious">Fran</a>
      </p>
    </div>
    <div class="fl-ns w-50-m w-20-l pr3-m pr5-l">
      <p>
        Details TBA.<br> Watch <a class="white" href="https://twitter.com/hashtag/Swolana?src=hashtag_click">#swolana</a> on CT
      </p>
    </div>
  </div>
  <img src="static/img/portugal.jpg" class="db" alt="iceland"/>
</main>