<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body class="bg-black white swole">

		<main>
			
			{{ layoutContent | safe }}
		
			{# {% include "components/form.njk" %} #}

		</main>

	</body>

</html>
